<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

  
<suite name="EPL Tests" allow-return-values="true">
       
  
  <parameter name="webSite" value="http://www.thescore.com/"/>
  <parameter name="browser" value="FIREFOX"/>             
  <parameter name="seleniumHost" value="localhost"/>
  <parameter name="seleniumPort" value=5555/>  
    
  
  

<test name="EPL Tests" parallel="classes" thread-count="1">  
    
   <classes>
      <class name="com.soccer.league.EPL.testscripts.VerifyPlayersInformation">
        <methods>
          <include name="verifyPlayers_01" invocation-numbers="0"/>
        </methods>
      </class> 
      
       
  </classes> 
    
  </test>  
</suite>